<div class="side-nav">
    <div>
        <button class="btn btn-dark active">
            <span class="material-symbols-outlined">
                home
            </span>
            Home
        </button>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                bolt
            </span>
            Shorts
        </button>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                subscriptions
            </span>
            Subscriptions
        </button>
    </div>
    <hr>
    <div>
        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                video_library
            </span>
            Library
        </button>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                history
            </span>
            History
        </button>
    </div>
    <hr>
    <div>
        <p>Sign in to like videos,<br>comment, and subscribe.</p>

        <button class="sign-btn">
            <span class="sign material-symbols-outlined">
                account_circle
            </span>
            Sign in
        </button>
    </div>
    <hr>
    <div>
        <p>Explore</p>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                local_fire_department
            </span>
            Trending
        </button>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                shopping_bag
            </span>
            Shopping
        </button>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                music_note
            </span>
            Music
        </button>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                movie
            </span>
            Movies
        </button>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                stream
            </span>
            Live
        </button>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                sports_esports
            </span>
            Gaming
        </button>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                newspaper
            </span>
            News
        </button>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                trophy
            </span>
            Sports
        </button>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                lightbulb
            </span>
            Learning
        </button>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                styler
            </span>
            Fashion & Beauty
        </button>
    </div>
    <hr>
    <div>
        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                settings
            </span>
            Settings
        </button>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                flag
            </span>
            Report history
        </button>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                help
            </span>
            Help
        </button>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                info
            </span>
            Send feedback
        </button>
    </div>

</div>