<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="header">
    <div class="menubar">
        <span class="menu material-symbols-outlined navbar-toggler" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" (click)="this.collapse=!this.collapse;">
            menu
        </span>

        <img src="./assets/logo.png" alt="Youtube" class="logo">
    </div>

    <div class="search">
        <input type="text" placeholder="Search" class="text-white">

        <span class="search-btn material-symbols-outlined">
            search
        </span>

        <span class="mic material-symbols-outlined">
            mic
        </span>
    </div>

    <div class="options">
        <span class="settings material-symbols-outlined">
            more_vert
        </span>

        <button class="sign-btn">
            <span class="sign material-symbols-outlined">
                account_circle
            </span>
            Sign in
        </button>
    </div>

</div>

<div class="nav">

    <div class="drop-nav">
        <div class="content" *ngIf="!collapse">
            <app-navbar></app-navbar>
        </div>

        <div class="collapse" *ngIf="collapse" style="height: 0;" id="navbarToggleExternalContent">
            <div class="home">
                <span class="material-symbols-outlined">
                    home
                </span>
                <p>Home</p>
            </div>

            <div>
                <span class="material-symbols-outlined">
                    bolt
                </span>
                <p>Shorts</p>
            </div>

            <div>
                <span class="material-symbols-outlined">
                    subscriptions
                </span>
                <p>Subscriptions</p>
            </div>

            <div>
                <span class="material-symbols-outlined">
                    video_library
                </span>
                <p>Library</p>
            </div>

            <div>
                <span class="material-symbols-outlined">
                    history
                </span>
                <p>History</p>
            </div>

        </div>
    </div>

    <div class="side-scroll" [style]="!collapse ? 'margin-left: 250px;':'margin-left: 100px;'">
        <p>Favourites</p>
        <p>All</p>
        <p>Music</p>
        <p>Live</p>
        <p>Kollywood Music</p>
        <p>Gaming</p>
        <p>Comedy</p>
        <p>Trending</p>
        <p>Cricket</p>
        <p>News</p>
        <p>Science</p>
        <p>Fashion</p>
        <p>Tamil Cinema</p>
        <p>Pop Music</p>
        <p>Anirudh</p>
        <p>Recently Uploaded</p>
    </div>
</div>

<div [style]="!collapse ? 'margin-left: 250px;':'margin-left: 100px;'">
    <app-main></app-main>
</div>