.header {
    background-color: rgb(14, 14, 14);
    position: fixed;
    width: 100%;
    padding: 9px;
    z-index: 1;
}

.menubar,
.search,
.options,
.header {
    display: flex;
}

*::-webkit-scrollbar {
    display: none;
}

.material-symbols-outlined {
    cursor: pointer;
    color: white;
    padding: 5px;
    margin: 0px 10px;
    font-size: 28px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.menu {
    padding-top: 8px;
}

.menu:hover {
    background-color: rgb(74, 74, 74);
    border-radius: 50%;
}

.logo {
    width: 120px;
    align-self: center;
    cursor: pointer;
}

.search {
    margin-left: 17%;
    width: 40%;

    input {
        width: 100%;
        background-color: black;
        padding-left: 15px;
        border: 1px solid rgb(36, 36, 36);
        border-radius: 50px 0% 0% 50px;
    }

    .search-btn {
        margin-left: 0;
        padding: 5px 20px;
        border-radius: 0% 50px 50px 0%;
        background-color: rgb(48, 48, 48)
    }
}

.mic {
    background-color: rgb(48, 48, 48);
    border-radius: 50%;
}

.mic:hover {
    background-color: rgb(72, 72, 72);
}


.options {
    margin-left: auto;

    .settings {
        font-size: 26px;
        font-weight: 900;
    }

    .sign {
        color: rgb(63, 162, 255);
        padding: 0;
    }
}

.sign-btn {
    display: flex;
    align-items: center;
    padding: 0px;
    padding-right: 10px;
    color: rgb(63, 162, 255);
    border: 1px solid rgb(51, 51, 51);
    border-radius: 50px;
    background-color: black;
}

.sign-btn:hover {
    background-color: rgb(24, 60, 94);
}

.drop-nav {
    z-index: 1;
    margin-top: 54px;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    background-color: rgb(14, 14, 14);
}

.collapsing {
    .content {
        visibility: hidden;
    }
}

.home {
    border-radius: 10px;
    background-color: #282525;
}

#navbarToggleExternalContent {
    padding: 15px;
    display: block;

    p {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 11px;
        font-weight: 600;
        padding: 0px 2px 8px 2px;

    }

    div {
        cursor: pointer;
    }

    div:hover {
        border-radius: 10px;
        background-color: #343333;
    }
}

#navbarToggleExternalContent .material-symbols-outlined {
    display: flex;
    justify-content: center;
}

.side-scroll {
    overflow-x: scroll;
    background-color: rgb(14, 14, 14);
    margin-top: 54px;
    padding-top: 12px;
    padding-left: 10px;
    width: 100%;
    display: flex;

    p {
        padding: 6px 12px 6px 12px;
        margin-right: 10px;
        white-space: nowrap;
        color: white;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        background-color: #2d2d2d;
        border-radius: 10px;
    }

    p:first-child {
        background-color: #fafafa;
        color: #282525;
        border-radius: 10px;
    }

    p:not(:first-child):hover {
        background-color: #4d4d4d;
    }
}

@media screen and (max-width:800px) {
    .search {
        display: none;
    }
}