.main{
    margin: 0px;
    background-color: rgb(14, 14, 14);
}

.card{
    background-color: rgb(14, 14, 14);
    color: white;
}

.card-img-top{
    cursor: pointer;
    border-radius: 12px;
    height: 220px;
    object-fit: cover;
}

.card-title{
    font-size: 17px;
    cursor: pointer;
}

.card-subtitle{
    padding-bottom: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: rgb(160, 160, 160);
}

.card-subtitle:hover{
    color: rgb(217, 217, 217);
}

@media screen and (max-width:500px){
    .card{
        width: 100%;
    }
}
